#container {
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 10px 150px 10px 150px;
  width: 500px;
  height: 800px;
 
  
 
}

#education {
 margin-bottom: 10px; 
}

#organization {
 margin-bottom: 10px; 
}

body {
  background-color: lightgrey;
}


p {
  color: black;
{
