#container {
  margin-top: 150px;
  margin-left:200px;
  margin-right:200px;
  margin-bottom: 150;
  padding: 10px 150px 10px 150;
 
}

#education {
 margin-bottom: 10px; 
}

#organization {
 margin-bottom: 10px; 
}

body {
  background-color: grey;
}


p {
  color: black;
{
