#container {
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 30px;
  
  line-height: 1.5em; 
  
}

h5 {
    line-height: 10px;
}

h4 {
    line-height: 10px;
}

h3 {
    line-height: 15px;
}

h2 {
    line-height: 10px;
}

.profile-quote {
 padding-right: 15em; 
}

.profile-image {
float: right;
display: inline-block; 
margin-top: -1em;  
}

.image-container {
 margin-left: 1em; 
}

.header {
  line-height: 1.5em;
  display-inline;
}

.education {
 margin-bottom: 10px;
 line-height: 1.5em; 
}

.organization {
 margin-bottom: 10px; 
 line-height: 1.5em; 
}

body {
  background-color: lightgrey;
}


p {
  color: black;
{
